<script src="https://cdn.tailwindcss.com"></script>
<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>

<div id="escape-room-explorer" class="d-none">
  <table class="table-auto">
    <thead>
      <tr>
        <th style="text-align: left;">TERPECA 2022</th>
        <th style="text-align: left;">Room Name</th>
        <th style="text-align: left;">Company Name</th>
        <th style="text-align: left; width: 200px;">

          <button @click="toggleTerrorLevelMenu" class="flex">Terror Level <svg class="-mr-1 h-5 w-5 text-gray-400"
              viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd" />
            </svg>
          </button>

          <div v-if="isTerrorLevelMenuVisible" id="terrorLevelFilters">
            <div class="form-check">
              <input id="terrorLevelNoneCheck" type="checkbox" class="bg-gray-200 hover:bg-gray-300 cursor-pointer 
    border-amber-500 focus:outline-none rounded-lg" v-model="terror_level.none" />
              <label class="form-check-label" for="terrorLevelNoneCheck">None</label>
            </div>
            <div class="form-check">
              <input id="terrorLevelSpookyCheck" type="checkbox" class="form-check-input"
                v-model="terror_level.spooky" />
              <label class="form-check-label" for="terrorLevelSpookyCheck">Spooky</label>
            </div>
            <div class="form-check">
              <input id="terrorLevelPassivelyScaryCheck" type="checkbox" class="form-check-input"
                v-model="terror_level.passively_scary" />
              <label class="form-check-label" for="terrorLevelPassivelyScaryCheck">Passively Scary</label>
            </div>
            <div class="form-check">
              <input id="terrorLevelActivelyScaryCheck" type="checkbox" class="form-check-input"
                v-model="terror_level.actively_scary" />
              <label class="form-check-label" for="terrorLevelActivelyScaryCheck">Actively Scary</label>
            </div>
          </div>
        </th>
        <th style="text-align: left;">
          Location
          <input id="input-location" type="text" v-model="location_text_filter"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="room in visibleRooms" class="odd:bg-gray-50">
        <td v-if="room.phase2_rank != 'Not ranked'">[[ room.phase2_rank ]]</td>
        <td v-if="room.phase2_rank == 'Not ranked'"></td>
        <td>[[ room.room_name_english ]]</td>
        <td>[[ room.company_name ]]</td>
        <td>[[ room.terror_level ]]</td>
        <td>[[ room.location ]]</td>
      </tr>
    </tbody>
  </table>
</div>
<script type="module">
  import { createApp, ref } from 'vue'

  const app = createApp({
    delimiters: ["[[", "]]"],
    data() {
      return {
        rooms: [],
        location_text_filter: "",
        isTerrorLevelMenuVisible: false,
        terror_level: {
          none: true,
          spooky: true,
          passively_scary: true,
          actively_scary: true
        }
      }
    },
    computed: {
      visibleRooms() {

        self = this;
        function isTerrorLevelVisible(terror_level) {
          if (terror_level.toLowerCase() === "none" && self.terror_level.none === true) {
            return true;
          }
          if (terror_level.toLowerCase() === "spooky" && self.terror_level.spooky === true) {
            return true;
          }
          if (terror_level.toLowerCase() === "passively scary" && self.terror_level.passively_scary === true) {
            return true;
          }
          if (terror_level.toLowerCase() === "actively scary" && self.terror_level.actively_scary === true) {
            return true;
          }
          return false;
        }

        return this.rooms
          .filter((room) => room.location.toLowerCase().includes(this.location_text_filter.toLowerCase()))
          .filter((room) => isTerrorLevelVisible(room.terror_level));
      }
    },
    methods: {
      sort_by(event) {
        alert("hello " + event.target.tagName)
      },
      toggleTerrorLevelMenu(event) {
        this.isTerrorLevelMenuVisible = !this.isTerrorLevelMenuVisible;
      }
    },
    mounted() {
      function normalize_ranking(ranking) {
        if (ranking === "Not ranked") {
          return 1000;
        }
        if (ranking === "NR") {
          return 999;
        }
        return parseInt(ranking)
      }

      const data = fetch("{{ .Get "json_url" }}").then((response) => {
        console.log("Query successful, got " + response.status)
        if (response.status !== 200) {
          console.log("Attempting to query {{ .Get "json_url" }}");
          console.log("Error: " + response.status);
          return;
        }
        response.json().then((data) => {
          this.rooms = data.sort((room1, room2) => {
            return normalize_ranking(room1.phase2_rank) - normalize_ranking(room2.phase2_rank);
          });
          document.getElementById("escape-room-explorer").classList.remove("d-none");
        });
      });
    }
  });
  app.mount('#escape-room-explorer')

</script>